doctype html
html
    head
        title!='Titel'
        script(type='text/javascript' src='/bower_components/SyntaxHighlighter/scripts/xregexp.js')
        script(type='text/javascript' src='/bower_components/SyntaxHighlighter/scripts/shcore.js')
        script(type='text/javascript' src='/bower_components/SyntaxHighlighter/scripts/shBrushJScript.js')

        link(rel='stylesheet', href='/bower_components/SyntaxHighlighter/styles/shCore.css', type='text/css')

    body
        div!=content
