doctype html
html
    head
        title!='Titel'
        script(type='text/javascript' src='/bower_components/highlightjs/highlight.pack.min.js')
        link(rel='stylesheet', href='/bower_components/highlightjs/styles/brown_paper.css', type='text/css')
        link(rel='stylesheet', href='/bower_components/github-markdown-css/github-markdown.css', type='text/css')
    body
        div.markdown-body!=markdown
